@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.image-container {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.image-container:hover {
  transform: scale(1.1);
}

.bg-white {
  transition: height 0.3s ease;
}

li:hover .back {
  height: 3em;
}

li:hover .back01 {
  height: 7em;
}

.title001:after,
.title001:before {
  content: "";
  width: 50px;
  height: 2px;
  background: #14279b;
  margin-bottom: 8px;
  display: inline-block;
}

.title001:before {
  margin-right: 20px;
}

.title001:after {
  margin-left: 20px;
}
